div.separator {
  width: 100%;
  height: 2px;
  background-color: gray;
}
.nav-right {
  padding: 10px;
}

.nav-right .link-to-sports {
  text-decoration: none;
  margin-right: 15px;
}

.Logo-sports {
  text-transform: uppercase;
  height: 65px;
  font-size: 60px;
  color: #fff;
  font-weight: 700;
  padding-left: 3%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nav-right {
  display: flex;
}

.nav-sports {
  display: flex;
  background-color: #f28705;
  position: relative;
  top: 0;
  border-bottom: 2px solid gray;
}

.nav-sports .nav-left {
  margin-left: 60px;
}

.nav-sports .nav-right {
  position: absolute;
  bottom: 0;
  left: 330px;
}

.nav-sports .nav-right div {
  font-size: 20px;
  color: #ffffffcb;
  padding: 0 10px 0 10px;
  border-right: 3px solid rgba(0, 0, 0, 0.647);
  font-weight: 600;
}
.nav-sports .nav-right .navLink {
  text-decoration: none;
  height: auto;
}

.nav-sports .nav-right div:hover {
  color: #fff;
  text-decoration: underline;
}

@media screen and (max-width: 960px) and (min-width: 910px) {
  .nav-sports .nav-right div {
    font-size: 18px;
  }
}
@media screen and (max-width: 909px) and (min-width: 808px) {
  .nav-sports .nav-right div {
    font-size: 16px;
  }
  .Logo-sports {
    font-size: 50px;
    height: 55px;
    padding-left: 2%;
  }
  .nav-sports .nav-right {
    left: 270px;
  }
}
@media screen and (max-width: 807px) and (min-width: 750px) {
  .nav-sports .nav-right div {
    font-size: 15px;
  }
  .Logo-sports {
    font-size: 40px;
    height: 45px;
    padding-left: 1%;
  }
  .nav-sports .nav-right {
    left: 240px;
  }
}
@media screen and (max-width: 749px) and (min-width: 671px) {
  .nav-sports .nav-right div {
    font-size: 13px;
  }
  .Logo-sports {
    font-size: 35px;
    height: 37px;
    padding-left: 1%;
  }
  .nav-sports .nav-right {
    left: 210px;
  }
}
@media screen and (max-width: 670px) and (min-width: 500px) {
  .nav-sports .nav-right div {
    font-size: 11px;
    padding: 2px 4px 0 0;
  }
  .Logo-sports {
    font-size: 30px;
    height: 30px;
    padding-left: 0;
  }
  .nav-sports .nav-right {
    left: 190px;
  }
}
@media screen and (max-width: 499px) {
  .nav-sports .nav-right {
    display: none;
    margin: 0;
    padding: 0;
  }
  .nav-sports .nav-left {
    width: 100%;
    margin-left: 0;
  }
  .nav-sports .nav-left .Logo-sports {
    margin: 0 27%;
    padding: 0;
    font-size: 45px;
    height: 50px;
  }
}
